[submodule "PseudoHilbert"]
	path = PseudoHilbert
	url = https://github.com/GrantTrebbin/PseudoHilbert.git
[submodule "font-classify"]
	path = font-classify
	url = git@github.com:pkarnstein-SI/font-classify.git
