albumentations==2.0.5
huggingface_hub==0.30.2
loguru==0.7.3
matplotlib==3.10.1
numpy==2.2.4
onnxruntime==1.21.0
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
Pillow==11.1.0
pymupdf==1.25.5
PyYAML==6.0.2
PyYAML==6.0.2
reportlab==4.3.1
rich==14.0.0
rich_argparse==1.7.0
scikit_learn==1.6.1
scipy==1.15.2
Shapely==2.1.0
svglib==1.5.1
svgwrite==1.4.3
timm==1.0.15
torch==2.6.0
torchvision==0.21.0
tqdm==4.66.5
wikipedia==1.4.0
